
* @infernoflamex @amaviviekouvo-cyber

# Platform configuration
/.github/ @infernoflamex @amaviviekouvo-cyber

# Application code
/src/ @infernoflamex @amaviviekouvo-cyber

# Tests
/test/ @infernoflamex @amaviviekouvo-cyber

# Deployment configuration
/deploy/ @infernoflamex @amaviviekouvo-cyber

