# Default owner
* @infernoflamex @amaviviekouvo-cyber @ben7132 @namelessbell92-ai 

# Platform configuration
/.github/ @infernoflamex @amaviviekouvo-cyber @ben7132 @namelessbell92-ai 
# Application code
/src/ @infernoflamex @amaviviekouvo-cyber @ben7132 @namelessbell92-ai 

# Tests
/test/ @infernoflamex @amaviviekouvo-cyber @ben7132 @namelessbell92-ai 

# Deployment configuration
/deploy/ @infernoflamex @amaviviekouvo-cyber @ben7132 @namelessbell92-ai 
