# Default owner
* @TealOrchid @adawnium @blanche699 @smashanto

# Platform configuration
/.github/ @TealOrchid @adawnium @blanche699 @smashanto

# Application code
/src/ @TealOrchid @adawnium @blanche699 @smashanto

# Tests
/test/ @TealOrchid @adawnium @blanche699 @smashanto

# Deployment configuration
/deploy/ @TealOrchid @adawnium @blanche699 @smashanto
